@import "../../styles/mixin.scss";

.rod {
  position: absolute;
  bottom: 20px;
  width: 240px;
  height: 240px;
  

  &.rotation-rod {
    right: 50px;
  }

  &.translation-rod {
    left: 50px;
  }

  .btn {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    svg:active {
      fill: #fff;
    }

    &.hor-btn {
      width: 120px;
      height: 72px;
    }
    &.ver-btn {
      width: 72px;
      height: 120px;
    }
    &.up {
      left: 50%;
      top: 0;
      transform: translate(-50%);
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -ms-transform: translate(-50%);
      -o-transform: translate(-50%);
    }
    &.right {
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
    }
    &.bottom {
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -ms-transform: translate(-50%);
      -o-transform: translate(-50%);
    }
    &.left {
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
    }
  }

  .toggle-out {
    @include center();
    width: 30%;
    height: 30%;
    border: 5px solid #5a6773;
    border-radius: 50%;
    background: linear-gradient(to bottom,#000,#151c22);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .toggle-inner {
    @include center();
    width: 5%;
    height: 5%;
    border-radius: 50%;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}